/*---------------------------------- Help page ---------------------------------------------*/
.platform-ios .manual-ios-statusbar-padding.help-block{padding-top:0;}
.help-block{background: #61a1c7;}
.help-block h2{color:#ffde00;text-align: center;font-weight: 600;font-size: 42px;line-height: 46px;}
.help-block .show-list-numbers-and-dots{padding-bottom: 30px;}
.help-block .show-list-numbers-and-dots p{font-size: 16px;line-height: 22px;color:#ffdd00;text-align: center;}
.help-block .help-logo img{display: block; width: 90%;height: auto;margin:0 auto;}
.help-block .dotted-logo{padding-bottom: 40px;}
.help-block .dotted-logo img{display: block; width: 80%; height: auto; margin:0 auto;}
.help-block .button-block{border-color:transparent;background-color:#ffde00;border:2px solid #ffde00;color:#61a1c7;width:270px;margin:0 auto;font-size:18px;font-weight:600;border-radius:16px;box-shadow: 0 2px 0 rgba(0,0,0,0.5);-webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.5);-moz-box-shadow: 0 2px 0 rgba(0,0,0,0.5);-ms-box-shadow: 0 2px 0 rgba(0,0,0,0.5);transition: 0.3s all;-webkit-transition:0.3s all;-moz-transition:0.3s all;-ms-transition:0.3s;}
.help-block .button-block:hover{border:2px solid #ffde00;background: transparent;color:#ffde00;}

/*------------------------------------ Home page ----------------------------------------------*/
.platform-ios .manual-ios-statusbar-padding.welcome-block{padding-top: 0;}
.welcome-block .item-thumbnail-left.item-complex{border-radius: 35px;border-width: 4px;margin-bottom: 15px;}
.welcome-block .item-complex .item-content{background:none;border-radius: 30px;height: 73px;min-height: inherit;display: table;width: 100%; padding-top:0; padding-bottom:0;}

.welcome-block .item-complex.item-text-wrap h2{padding:0 0 0 100px;font-size: 18px;line-height: 22px;font-weight: 700;display: table-cell;vertical-align: middle;}
.welcome-block .item-complex.item-text-wrap a i { max-width: 50px; display: inline-block; position: absolute; top:8px; }
.welcome-block .item-complex.item-text-wrap a i img { width:100%; }
.welcome-block .item-complex.item-text-wrap button{width: 74px;height:75px;border-radius: 35px 30px 30px 35px; min-width: inherit;min-height: inherit;position: absolute;right:-4px;top:-1px;color:#feff01;font-size: 30px;font-weight: 700;}
.welcome-block .item-thumbnail-left .item-content{padding-left: 15px;}
.welcome-block .item-thumbnail-left .item-content > img:first-child{top:50%;max-width: inherit;max-height: inherit;width: 100%;height: auto;left:15px;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);}
.welcome-block .item-thumbnail-left{min-height: inherit;}
.social-icon{margin-top: 5px;}
.social-icon a img{display:inline-block;width: 45px; height: auto; padding: 0px 3px;}


@media (max-width:767px){
    .welcome-block .item-complex.item-text-wrap h2 { padding-left: 65px; padding-right: 20px; }
}


@media (max-width:479px){
.welcome-block .item-complex.item-text-wrap h2 { font-size: 14px; line-height: 18px; padding-left: 55px; padding-right: 30px; }
}


@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
 
        .welcome-block .item-thumbnail-left.item-complex{margin-bottom: 5px;}
        .welcome-block .item-complex .item-content{height: 56px;    }
        .welcome-block .item-complex.item-text-wrap a i{max-width: 35px;}
        .welcome-block .item-complex.item-text-wrap h2{font-size: 14px;     padding-left: 40px;}
        .welcome-block .item-complex.item-text-wrap button{    top: 0px;        
            bottom: 0px;
            right: -1px;     font-size: 17px;     width: 56px; height: 56px;}

            .help-block h2{font-size: 28px; margin-top: 0px;}
            .help-block .dotted-logo, .help-block .show-list-numbers-and-dots{padding-bottom: 18px;}
            .help-block .dotted-logo img{width:80%}
            .help-block h2{line-height: 38px;}
            .help-block .show-list-numbers-and-dots p{font-size: 16px; line-height: 20px;}
            .button-positive{line-height: 34px; min-height: 34px;;}

}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader){  height: 44px; }
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > *{margin-top: 0px;    }
.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader{top:44px;}
