<ion-view title="Form SG.5" id="page11" style="">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/xi1YvKZrSGaT4tJAmewf_Group.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="formSG5-markdown19" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>REGISTRATION OF MEMBERS OF PERMANENT MISSIONS OR OBSERVER OFFICES</strong>
      </p>
    </div>
    <div id="formSG5-markdown20" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#2789C5;">
        <strong>Please state below</strong>
      </p>
    </div>
    <div id="formSG5-markdown21" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#2789C5;">
        <strong>information regarding the Principal</strong>
      </p>
    </div>
    <div class="spacer" style="height: 5px;background-color:#2789C5;"></div>
    <form id="formSG5-form3" class="list">
      <div id="formSG5-markdown23" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Name of Principal (Last):</p>
      </div>
      <label class="item item-input" id="formSG5-input7">
        <input placeholder="" ng-model="form.principal.lastName" type="text">
      </label>
    </form>
    <form id="formSG5-form4" class="list">
      <div id="formSG5-markdown24" class="show-list-numbers-and-dots">
        <p style="color:#000000;">(First and Middle):</p>
      </div>
      <label class="item item-input" id="formSG5-input8">
        <input placeholder="" ng-model="form.principal.firstMiddleName" type="text">
      </label>
    </form>
    <form id="formSG5-form10" class="list">
      <div id="formSG5-markdown29" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Permanent/Observer Mission of:</p>
      </div>
      <label class="item item-input" id="formSG5-input17">
        <input placeholder="" ng-model="form.principal.permanentMissionOf" type="text">
      </label>
    </form>
    <form id="formSG5-form11" class="list">
      <div id="formSG5-markdown30" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Diplomatic Rank:</p>
      </div>
      <label class="item item-input" id="formSG5-input18">
        <input placeholder="" ng-model="form.principal.diplomaticRank" type="text">
      </label>
    </form>
    <form id="formSG5-form12" class="list">
      <div id="formSG5-markdown31" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Local Permanent Address:</p>
      </div>
      <label class="item item-input" id="formSG5-input19">
        <input placeholder="" ng-model="form.principal.address" type="text">
      </label>
    </form>
    <form id="formSG5-form13" class="list">
      <div id="formSG5-markdown32" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date of Birth:</p>
      </div>
      <label class="item item-input" id="formSG5-input20">
        <input placeholder="" ng-model="form.principal.dateOfBirth" type="date">
      </label>
    </form>
    <form id="formSG5-form14" class="list">
      <div id="formSG5-markdown33" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Place of Birth (City, Country):</p>
      </div>
      <label class="item item-input" id="formSG5-input21">
        <input placeholder="" ng-model="form.principal.placeOfBirth" type="text">
      </label>
    </form>
    <form id="formSG5-form15" class="list">
      <div id="formSG5-markdown34" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Private Telephone No. in the USA:</p>
      </div>
      <label class="item item-input" id="formSG5-input22">
        <input placeholder="" ng-model="form.principal.phone" type="text">
      </label>
    </form>
    <div id="formSG5-markdown35" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Date of Appointment to Mission</p>
    </div>
    <form id="formSG5-form16" class="list">
      <label class="item item-input" id="formSG5-input23">
        <input placeholder="" ng-model="form.principal.dateOfAppointment" type="date">
      </label>
    </form>
    <form id="formSG5-form17" class="list">
      <div id="formSG5-markdown36" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Title and Function in Mission:</p>
      </div>
      <label class="item item-input" id="formSG5-input24">
        <input placeholder="" ng-model="form.principal.titleAndFunction" type="text">
      </label>
    </form>
    <div id="formSG5-markdown37" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Type of Passport:</p>
    </div>
    <form id="formSG5-form18" class="list">
      <label class="item item-input" id="formSG5-input25">
        <input placeholder="" ng-model="form.principal.typeOfPassport" type="text">
      </label>
    </form>
    <form id="formSG5-form19" class="list">
      <div id="formSG5-markdown38" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Passport No.:</p>
      </div>
      <label class="item item-input" id="formSG5-input26">
        <input placeholder="" ng-model="form.principal.passportNo" type="text">
      </label>
    </form>
    <form id="formSG5-form20" class="list">
      <div id="formSG5-markdown39" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Type of Visa:</p>
      </div>
      <label class="item item-input" id="formSG5-input27">
        <input placeholder="" ng-model="form.principal.typeOfVisa" type="text">
      </label>
    </form>
    <form id="formSG5-form21" class="list">
      <div id="formSG5-markdown40" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Visa No.:</p>
      </div>
      <label class="item item-input" id="formSG5-input28">
        <input placeholder="" ng-model="form.principal.visaNo" type="text">
      </label>
    </form>
    <div id="formSG5-markdown41" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Nationality at Birth</p>
    </div>
    <form id="formSG5-form22" class="list">
      <label class="item item-input" id="formSG5-input29">
        <input placeholder="" ng-model="form.principal.nationalityAtBirth" type="text">
      </label>
    </form>
    <div id="formSG5-markdown42" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Nationality at Present:</p>
    </div>
    <form id="formSG5-form23" class="list">
      <label class="item item-input" id="formSG5-input30">
        <input placeholder="" ng-model="form.principal.nationalityAtPresent" type="text">
      </label>
    </form>
    <form id="formSG5-form24" class="list">
      <div id="formSG5-markdown43" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Marital Status:</p>
      </div>
      <label class="item item-input" id="formSG5-input31">
        <input placeholder="" ng-model="form.principal.maritalStatus" type="text">
      </label>
    </form>
    <div id="formSG5-markdown45" class="show-list-numbers-and-dots">
      <p style="color:#2789C5;">Please state below information regarding immediate family members residing with Principal</p>
    </div>
    <div class="spacer" style="height: 5px;background-color:#2789C5;"></div>
    <div id="formSG5-markdown46" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Person 1:</strong>
      </p>
    </div>
    <form id="formSG5-form25" class="list">
      <div id="formSG5-markdown44" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Name (Last):</p>
      </div>
      <label class="item item-input" id="formSG5-input32">
        <input placeholder="" ng-model="form.person1.lastName" type="text">
      </label>
    </form>
    <div id="formSG5-markdown47" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Name (First and Middle):</p>
    </div>
    <form id="formSG5-form26" class="list">
      <label class="item item-input" id="formSG5-input33">
        <input placeholder="" ng-model="form.person1.firstMiddleName" type="text">
      </label>
    </form>
    <form id="formSG5-form27" class="list">
      <div id="formSG5-markdown48" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Relationship:</p>
      </div>
      <label class="item item-input" id="formSG5-input34">
        <input placeholder="" ng-model="form.person1.relationship" type="text">
      </label>
    </form>
    <form id="formSG5-form28" class="list">
      <div id="formSG5-markdown49" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date of Birth:</p>
      </div>
      <label class="item item-input" id="formSG5-input35">
        <input placeholder="" ng-model="form.person1.dateOfBirth" type="date">
      </label>
    </form>
    <form id="formSG5-form29" class="list">
      <div id="formSG5-markdown50" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Place of Birth (City):</p>
      </div>
      <label class="item item-input" id="formSG5-input36">
        <input placeholder="" ng-model="form.person1.placeOfBirth" type="text">
      </label>
    </form>
    <div id="formSG5-markdown51" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Nationality at Birth:</p>
    </div>
    <form id="formSG5-form30" class="list">
      <label class="item item-input" id="formSG5-input37">
        <input placeholder="" ng-model="form.person1.nationalityAtBirth" type="text">
      </label>
    </form>
    <form id="formSG5-form31" class="list">
      <div id="formSG5-markdown52" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Present Nationality:</p>
      </div>
      <label class="item item-input" id="formSG5-input38">
        <input placeholder="" ng-model="form.person1.presentNationality" type="text">
      </label>
    </form>
    <form id="formSG5-form32" class="list">
      <div id="formSG5-markdown53" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Type of Passport and No.:</p>
      </div>
      <label class="item item-input" id="formSG5-input39">
        <input placeholder="" ng-model="form.person1.passport" type="text">
      </label>
    </form>
    <form id="formSG5-form33" class="list">
      <div id="formSG5-markdown54" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Type of Visa and No.:</p>
      </div>
      <label class="item item-input" id="formSG5-input40">
        <input placeholder="" ng-model="form.person1.visa" type="text">
      </label>
    </form>
    <div id="formSG5-markdown55" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Person 2:</strong>
      </p>
    </div>
    <form id="formSG5-form34" class="list">
      <div id="formSG5-markdown56" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Name (Last):</p>
      </div>
      <label class="item item-input" id="formSG5-input41">
        <input placeholder="" ng-model="form.person2.lastName" type="text">
      </label>
    </form>
    <form id="formSG5-form35" class="list">
      <div id="formSG5-markdown57" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Name (First and Middle)</p>
      </div>
      <label class="item item-input" id="formSG5-input42">
        <input placeholder="" ng-model="form.person2.firstMiddleName" type="text">
      </label>
    </form>
    <form id="formSG5-form37" class="list">
      <div id="formSG5-markdown59" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Relationship:</p>
      </div>
      <label class="item item-input" id="formSG5-input44">
        <input placeholder="" ng-model="form.person2.relationship" type="text">
      </label>
    </form>
    <form id="formSG5-form38" class="list">
      <div id="formSG5-markdown60" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date of Birth:</p>
      </div>
      <label class="item item-input" id="formSG5-input45">
        <input placeholder="" ng-model="form.person2.dateOfBirth" type="date">
      </label>
    </form>
    <form id="formSG5-form39" class="list">
      <div id="formSG5-markdown61" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Place of Birth (City):</p>
      </div>
      <label class="item item-input" id="formSG5-input46">
        <input placeholder="" ng-model="form.person2.placeOfBirth" type="text">
      </label>
    </form>
    <form id="formSG5-form40" class="list">
      <div id="formSG5-markdown62" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Nationality at Birth:</p>
      </div>
      <label class="item item-input" id="formSG5-input47">
        <input placeholder="" ng-model="form.person2.nationalityAtBirth" type="text">
      </label>
    </form>
    <form id="formSG5-form41" class="list">
      <div id="formSG5-markdown63" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Present Nationality:</p>
      </div>
      <label class="item item-input" id="formSG5-input48">
        <input placeholder="" ng-model="form.person2.presentNationality" type="text">
      </label>
    </form>
    <form id="formSG5-form42" class="list">
      <div id="formSG5-markdown64" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Type of Passport and No.:</p>
      </div>
      <label class="item item-input" id="formSG5-input49">
        <input placeholder="" ng-model="form.person2.password" type="text">
      </label>
    </form>
    <form id="formSG5-form43" class="list">
      <div id="formSG5-markdown65" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Type of Visa and No.:</p>
      </div>
      <label class="item item-input" id="formSG5-input50">
        <input placeholder="" ng-model="form.person2.visa" type="text">
      </label>
    </form>
    <div id="formSG5-markdown66" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Person 3:</strong>
      </p>
    </div>
    <form id="formSG5-form44" class="list">
      <div id="formSG5-markdown67" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Name (Last):</p>
      </div>
      <label class="item item-input" id="formSG5-input51">
        <input placeholder="" ng-model="form.person3.lastName" type="text">
      </label>
    </form>
    <form id="formSG5-form45" class="list">
      <div id="formSG5-markdown68" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Name (First and Middle):</p>
      </div>
      <label class="item item-input" id="formSG5-input52">
        <input placeholder="" ng-model="form.person3.firstMiddleName" type="text">
      </label>
    </form>
    <form id="formSG5-form46" class="list">
      <div id="formSG5-markdown69" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Relationship:</p>
      </div>
      <label class="item item-input" id="formSG5-input53">
        <input placeholder="" ng-model="form.person3.relationship" type="text">
      </label>
    </form>
    <form id="formSG5-form47" class="list">
      <div id="formSG5-markdown70" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date of Birth:</p>
      </div>
      <label class="item item-input" id="formSG5-input54">
        <input placeholder="" ng-model="form.person3.dateOfBirth" type="date">
      </label>
    </form>
    <form id="formSG5-form48" class="list">
      <div id="formSG5-markdown71" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Place of Birth (City):</p>
      </div>
      <label class="item item-input" id="formSG5-input55">
        <input placeholder="" ng-model="form.person3.placeOfBirth" type="text">
      </label>
    </form>
    <form id="formSG5-form49" class="list">
      <div id="formSG5-markdown72" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Nationality at Birth:</p>
      </div>
      <label class="item item-input" id="formSG5-input56">
        <input placeholder="" ng-model="form.person3.nationalityAtBirth" type="text">
      </label>
    </form>
    <form id="formSG5-form50" class="list">
      <div id="formSG5-markdown73" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Present Nationality:</p>
      </div>
      <label class="item item-input" id="formSG5-input57">
        <input placeholder="" ng-model="form.person3.presentNationality" type="text">
      </label>
    </form>
    <form id="formSG5-form51" class="list">
      <div id="formSG5-markdown74" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Type of Passport and No.:</p>
      </div>
      <label class="item item-input" id="formSG5-input58">
        <input placeholder="" ng-model="form.person3.passport" type="text">
      </label>
    </form>
    <form id="formSG5-form52" class="list">
      <div id="formSG5-markdown75" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Type of Visa and No.:</p>
      </div>
      <label class="item item-input" id="formSG5-input59">
        <input placeholder="" ng-model="form.person3.visa" type="text">
      </label>
    </form>
    <div id="formSG5-markdown76" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Person 4:</strong>
      </p>
    </div>
    <form id="formSG5-form53" class="list">
      <div id="formSG5-markdown77" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Name (Last)</p>
      </div>
      <label class="item item-input" id="formSG5-input60">
        <input placeholder="" ng-model="form.person4.lastName" type="text">
      </label>
    </form>
    <form id="formSG5-form54" class="list">
      <div id="formSG5-markdown78" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Name (First and Middle)</p>
      </div>
      <label class="item item-input" id="formSG5-input61">
        <input placeholder="" ng-model="form.person4.firstMiddleName" type="text">
      </label>
    </form>
    <form id="formSG5-form55" class="list">
      <div id="formSG5-markdown79" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Relationship:</p>
      </div>
      <label class="item item-input" id="formSG5-input62">
        <input placeholder="" ng-model="form.person4.relationship" type="text">
      </label>
    </form>
    <form id="formSG5-form56" class="list">
      <div id="formSG5-markdown80" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date of Birth:</p>
      </div>
      <label class="item item-input" id="formSG5-input63">
        <input placeholder="" ng-model="form.person4.dateOfBirth" type="date">
      </label>
    </form>
    <form id="formSG5-form57" class="list">
      <div id="formSG5-markdown81" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Place of Birth (City):</p>
      </div>
      <label class="item item-input" id="formSG5-input64">
        <input placeholder="" ng-model="form.person4.placeOfBirth" type="text">
      </label>
    </form>
    <form id="formSG5-form58" class="list">
      <div id="formSG5-markdown82" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Nationality at Birth</p>
      </div>
      <label class="item item-input" id="formSG5-input65">
        <input placeholder="" ng-model="form.person4.nationalityAtBirth" type="text">
      </label>
    </form>
    <form id="formSG5-form59" class="list">
      <div id="formSG5-markdown83" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Present Nationality</p>
      </div>
      <label class="item item-input" id="formSG5-input66">
        <input placeholder="" ng-model="form.person4.presentNationality" type="text">
      </label>
    </form>
    <form id="formSG5-form60" class="list">
      <div id="formSG5-markdown84" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Type of Passport and No.:</p>
      </div>
      <label class="item item-input" id="formSG5-input67">
        <input placeholder="" ng-model="form.person4.password" type="text">
      </label>
    </form>
    <form id="formSG5-form61" class="list">
      <div id="formSG5-markdown85" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Type of Visa and No.:</p>
      </div>
      <label class="item item-input" id="formSG5-input68">
        <input placeholder="" ng-model="form.person4.visa" type="text">
      </label>
    </form>
    <div id="formSG5-markdown88" class="show-list-numbers-and-dots">
      <p style="color:#2789C5;">
        <strong>Please state below information regarding household employees of the principal</strong>
      </p>
    </div>
    <div id="formSG5-markdown89" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>(A copy of the employment contract must accompany this form)</strong>
      </p>
    </div>
    <div class="spacer" style="height: 5px;background-color:#2789C5;"></div>
    <form id="formSG5-form64" class="list">
      <div id="formSG5-markdown99" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Employee 1:</strong>
        </p>
      </div>
      <div id="formSG5-markdown90" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Name (Last):</p>
      </div>
      <label class="item item-input" id="formSG5-input71">
        <input placeholder="" ng-model="form.employee1.lastName" type="text">
      </label>
    </form>
    <form id="formSG5-form65" class="list">
      <div id="formSG5-markdown91" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Name (First and Middle):</p>
      </div>
      <label class="item item-input" id="formSG5-input72">
        <input placeholder="" ng-model="form.employee1.firstMiddleName" type="text">
      </label>
    </form>
    <form id="formSG5-form66" class="list">
      <div id="formSG5-markdown92" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date of Birth:</p>
      </div>
      <label class="item item-input" id="formSG5-input73">
        <input placeholder="" ng-model="form.employee1.dateOfBirth" type="date">
      </label>
    </form>
    <form id="formSG5-form67" class="list">
      <div id="formSG5-markdown93" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Place of Birth (City):</p>
      </div>
      <label class="item item-input" id="formSG5-input74">
        <input placeholder="" ng-model="form.employee1.placeOfBirth" type="text">
      </label>
    </form>
    <form id="formSG5-form68" class="list">
      <div id="formSG5-markdown94" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Nationality at Birth</p>
      </div>
      <label class="item item-input" id="formSG5-input75">
        <input placeholder="" ng-model="form.employee1.nationalityAtBirth" type="text">
      </label>
    </form>
    <form id="formSG5-form69" class="list">
      <div id="formSG5-markdown95" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Present Nationality:</p>
      </div>
      <label class="item item-input" id="formSG5-input76">
        <input placeholder="" ng-model="form.employee1.presentNationality" type="text">
      </label>
    </form>
    <form id="formSG5-form70" class="list">
      <div id="formSG5-markdown96" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Type of Passport and No.:</p>
      </div>
      <label class="item item-input" id="formSG5-input77">
        <input placeholder="" ng-model="form.employee1.passport" type="text">
      </label>
    </form>
    <form id="formSG5-form71" class="list">
      <div id="formSG5-markdown97" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Type of Visa and No.:</p>
      </div>
      <label class="item item-input" id="formSG5-input78">
        <input placeholder="" ng-model="form.employee1.visa" type="text">
      </label>
    </form>
    <form id="formSG5-form72" class="list">
      <div id="formSG5-markdown98" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date of Appointment:</p>
      </div>
      <label class="item item-input" id="formSG5-input79">
        <input placeholder="" ng-model="form.employee1.dateOfAppointment" type="date">
      </label>
    </form>
    <div id="formSG5-markdown100" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Employee 2:</strong>
      </p>
    </div>
    <form id="formSG5-form73" class="list">
      <div id="formSG5-markdown101" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Name (Last):</p>
      </div>
      <label class="item item-input" id="formSG5-input80">
        <input placeholder="" ng-model="form.employee2.lastName" type="text">
      </label>
    </form>
    <form id="formSG5-form74" class="list">
      <div id="formSG5-markdown102" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Name (First and Middle):</p>
      </div>
      <label class="item item-input" id="formSG5-input81">
        <input placeholder="" ng-model="form.employee2.firstMiddleName" type="text">
      </label>
    </form>
    <form id="formSG5-form75" class="list">
      <div id="formSG5-markdown103" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date of Birth:</p>
      </div>
      <label class="item item-input" id="formSG5-input82">
        <input placeholder="" ng-model="form.employee2.dateOfBirth" type="date">
      </label>
    </form>
    <form id="formSG5-form76" class="list">
      <div id="formSG5-markdown104" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Place of Birth (City):</p>
      </div>
      <label class="item item-input" id="formSG5-input83">
        <input placeholder="" ng-model="form.employee2.placeOfBirth" type="text">
      </label>
    </form>
    <form id="formSG5-form77" class="list">
      <div id="formSG5-markdown105" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Nationality at Birth:</p>
      </div>
      <label class="item item-input" id="formSG5-input84">
        <input placeholder="" ng-model="form.employee2.nationalityAtBirth" type="text">
      </label>
    </form>
    <form id="formSG5-form78" class="list">
      <div id="formSG5-markdown106" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Present Nationality:</p>
      </div>
      <label class="item item-input" id="formSG5-input85">
        <input placeholder="" ng-model="form.employee2.presentNationality" type="text">
      </label>
    </form>
    <form id="formSG5-form79" class="list">
      <div id="formSG5-markdown107" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Type of Passport and No.:</p>
      </div>
      <label class="item item-input" id="formSG5-input86">
        <input placeholder="" ng-model="form.employee2.passport" type="text">
      </label>
    </form>
    <form id="formSG5-form80" class="list">
      <div id="formSG5-markdown108" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Type of Visa and No.:</p>
      </div>
      <label class="item item-input" id="formSG5-input87">
        <input placeholder="" ng-model="form.employee2.visa" type="text">
      </label>
    </form>
    <form id="formSG5-form81" class="list">
      <div id="formSG5-markdown109" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date of Appointment:</p>
      </div>
      <label class="item item-input" id="formSG5-input88">
        <input placeholder="" ng-model="form.employee2.dateOfAppointment" type="date">
      </label>
    </form>
    <div class="spacer" style="height: 5px;background-color:#2789C5;"></div>
    <div id="formSG5-markdown110" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Official seal and Signature will have to be provided on the printed copy</strong>
      </p>
    </div>
    <div id="formSG5-markdown111" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Date:</p>
    </div>
    <form id="formSG5-form82" class="list">
      <label class="item item-input" id="formSG5-input89">
        <input placeholder="" ng-model="form.date" type="date">
      </label>
      <button id="formSG5-button8" ng-click="printPdf()" class="button button-positive  button-block">Print</button>
      <button id="formSG5-button9" ng-click="email()" class="button button-positive  button-block">Email</button>
      <button id="formSG5-button10" ng-click="save()" class="button button-light  button-block">Save</button>
    </form>
  </ion-content>
</ion-view>