<ion-view title="Form SG.38" id="page13" style="">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/FrpgTsWjRf2uHTMyvdyV_Group.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="formSG38-markdown115" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        <strong>REQUEST FOR UNITED NATIONS GROUNDS PASS FOR FORMER PERMANENT REPRESENTITIVES</strong>
      </p>
    </div>
    <form id="formSG38-form85" class="list">
      <ion-checkbox id="formSG38-checkbox6" ng-model="form.issuance" style="">Issuance</ion-checkbox>
      <ion-checkbox id="formSG38-checkbox7" ng-model="form.renewal" style="">Renewal</ion-checkbox>
      <ion-checkbox id="formSG38-checkbox8" ng-model="form.duplicate" style="">Duplicate</ion-checkbox>
      <div id="formSG38-markdown118" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Country</p>
      </div>
      <label class="item item-input" id="formSG38-input91">
        <input placeholder="" ng-model="form.country" type="text">
      </label>
      <div id="formSG38-markdown119" class="show-list-numbers-and-dots">
        <p style="color:#000000;">NAME:</p>
      </div>
      <div id="formSG38-markdown120" class="show-list-numbers-and-dots">
        <p style="color:#666666;">First Name:</p>
      </div>
      <label class="item item-input" id="formSG38-input92">
        <input placeholder="" ng-model="form.firstName" type="text">
      </label>
      <div id="formSG38-markdown121" class="show-list-numbers-and-dots">
        <p style="color:#666666;">Last Name:</p>
      </div>
      <label class="item item-input" id="formSG38-input93">
        <input placeholder="" ng-model="form.lastName" type="text">
      </label>
      <div id="formSG38-markdown124" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>SPOUSE:</strong>
        </p>
      </div>
      <div id="formSG38-markdown126" class="show-list-numbers-and-dots">
        <p style="color:#666666;">First Name:</p>
      </div>
      <label class="item item-input" id="formSG38-input96">
        <input placeholder="" ng-model="form.spouseFirstName" type="text">
      </label>
      <div id="formSG38-markdown125" class="show-list-numbers-and-dots">
        <p style="color:#666666;">Last Name:</p>
      </div>
      <label class="item item-input" id="formSG38-input97">
        <input placeholder="" ng-model="form.spouseLastName" type="text">
      </label>
      <div id="formSG38-markdown127" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Head of Chantry/Principal administration officer:</p>
      </div>
      <label class="item item-input" id="formSG38-input98">
        <input placeholder="" ng-model="form.head" type="text">
      </label>
      <div id="formSG38-markdown123" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Signature and official must be added on the printed copy of the document</strong>.</p>
      </div>
      <div id="formSG38-markdown128" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>This form MUST be accompanied with a signed letter from the current Permanent Representitive or Chargé d'affaires, a.i.</strong>
        </p>
      </div>
      <div id="formSG38-markdown129" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date:</p>
      </div>
      <label class="item item-input" id="formSG38-input95">
        <input placeholder="" ng-model="form.date" type="date">
      </label>
      <button id="formSG38-button11" ng-click="printPdf()" class="button button-positive  button-block">Print</button>
      <button id="formSG38-button12" ng-click="email()" class="button button-positive  button-block">Email</button>
      <button id="formSG38-button13" ng-click="save()" class="button button-light  button-block">Save</button>
    </form>
  </ion-content>
</ion-view>