<ion-view title="Form SG.8" id="page15" style="">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/XAeX2XD7RmqOixYsCYkk_Group.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="formSG8-markdown146" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>NOTIFICATION OF END OF DUTY OF MEMBERS OF PERMANENT MISSIONS OR OBSERVER OFFICES TO THE UNITED NATIONS</strong>
      </p>
    </div>
    <form id="formSG8-form87" class="list">
      <div id="formSG8-markdown147" class="show-list-numbers-and-dots">
        <p style="color:#000000;">The Permanent Mission/Observer Office of</p>
      </div>
      <label class="item item-input" id="formSG8-input109">
        <input placeholder="" ng-model="form.observerOffice" type="text">
      </label>
    </form>
    <div id="formSG8-markdown148" class="show-list-numbers-and-dots">
      <p style="color:#000000;">announces the end of duty of</p>
    </div>
    <form id="formSG8-form88" class="list">
      <div id="formSG8-markdown149" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Last Name:</p>
      </div>
      <label class="item item-input" id="formSG8-input110">
        <input placeholder="" ng-model="form.lastName" type="text">
      </label>
      <div id="formSG8-markdown150" class="show-list-numbers-and-dots">
        <p style="color:#000000;">First Name:</p>
      </div>
      <label class="item item-input" id="formSG8-input111">
        <input placeholder="" ng-model="form.firstName" type="text">
      </label>
    </form>
    <div id="formSG8-markdown151" class="show-list-numbers-and-dots">
      <p style="color:#000000;">who is a diplomatic/staff member</p>
    </div>
    <form id="formSG8-form89" class="list">
      <div id="formSG8-markdown152" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Title or function in mission</p>
      </div>
      <label class="item item-input" id="formSG8-input112">
        <input placeholder="" ng-model="form.titleOrFunction" type="text">
      </label>
    </form>
    <div id="formSG8-markdown153" class="show-list-numbers-and-dots">
      <p style="color:#000000;">or</p>
    </div>
    <div id="formSG8-markdown154" class="show-list-numbers-and-dots">
      <p style="color:#000000;">a dependant of</p>
    </div>
    <form id="formSG8-form90" class="list">
      <div id="formSG8-markdown155" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Full Name and Title of Principal</p>
      </div>
      <label class="item item-input" id="formSG8-input113">
        <input placeholder="" ng-model="form.principalNameAndTitle" type="text">
      </label>
    </form>
    <form id="formSG8-form91" class="list">
      <div id="formSG8-markdown156" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date of end of duty within the Mission</p>
      </div>
      <label class="item item-input" id="formSG8-input114">
        <input placeholder="" ng-model="form.dateOfEndOfDuty" type="date">
      </label>
    </form>
    <form id="formSG8-form92" class="list">
      <div id="formSG8-markdown157" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date of final departure from the United States:</p>
      </div>
      <label class="item item-input" id="formSG8-input115">
        <input placeholder="" ng-model="form.dateOfFinalDeparture" type="date">
      </label>
      <div id="formSG8-markdown158" class="show-list-numbers-and-dots">
        <p style="color:#000000;">*If principal is not departing for
          <strong>whatever reason</strong>, please provide ongoing status below.*</p>
      </div>
    </form>
    <div id="formSG8-markdown159" class="show-list-numbers-and-dots">
      <p style="color:#2789C5;">Documents returned to Protocol: (Required)</p>
    </div>
    <div class="spacer" style="height: 5px;background-color:#2789C5;"></div>
    <form id="formSG8-form93" class="list">
      <div id="formSG8-markdown160" class="show-list-numbers-and-dots">
        <p style="color:#000000;">1) U.S. State Department Identification Card, No.:</p>
      </div>
      <label class="item item-input" id="formSG8-input116">
        <input placeholder="" ng-model="form.idCard" type="text">
      </label>
    </form>
    <form id="formSG8-form94" class="list">
      <div id="formSG8-markdown162" class="show-list-numbers-and-dots">
        <p style="color:#000000;">2) U.S. State Department Tax Exemption Card, No.:</p>
      </div>
      <label class="item item-input" id="formSG8-input117">
        <input placeholder="" ng-model="form.taxExemptionCard" type="text">
      </label>
    </form>
    <form id="formSG8-form95" class="list">
      <div id="formSG8-markdown163" class="show-list-numbers-and-dots">
        <p style="color:#000000;">3) United Nations Building Pass, No.:</p>
      </div>
      <label class="item item-input" id="formSG8-input118">
        <input placeholder="" ng-model="form.buildingPass" type="text">
      </label>
    </form>
    <div id="formSG8-markdown164" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">Note:</p>
    </div>
    <div id="formSG8-markdown165" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">a) Diplomatic License Plates should be returned to the Office of Foreign Missions.</p>
    </div>
    <div id="formSG8-markdown166" class="show-list-numbers-and-dots">
      <p style="color:#000000;">b) UN Parking Decals should be returned to Garage Administration</p>
    </div>
    <form id="formSG8-form98" class="list">
      <div id="formSG8-markdown167" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Dependant's information: (*If principal is not departing for
          <strong>whatever reason</strong>, please provide ongoing status below.*)</p>
      </div>
      <label class="item item-input" id="formSG8-input120">
        <input placeholder="" ng-model="form.dependantInfo" type="text">
      </label>
      <div id="formSG8-markdown211" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Signature will be required on the final printed copy.</strong>
        </p>
      </div>
      <button id="formSG8-button17" ng-click="printPdf()" class="button button-positive  button-block">Print</button>
      <button id="formSG8-button18" ng-click="email()" class="button button-positive  button-block">Email</button>
      <button id="formSG8-button19" ng-click="save()" class="button button-light  button-block">Save</button>
    </form>
  </ion-content>
</ion-view>