<ion-view title="Help" hide-nav-bar="true" hide-back-button="true" id="page8" style="">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 50px;"></div>
    <div>
      <img src="img/5InSvUvRvunkiSC7BRKJ_unitar_logo_blue-png.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h2 id="help-heading4" style="color: rgb(0, 0, 0); font-weight: 600; text-align: center;">UN- HOW TO</h2>
    <div>
      <img src="img/H2qFreESWG4KHHva9ZoX_Groupbar.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="help-markdown4" style="line-height: 95%;" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#999999;font-size:14px;">The United Nations Agenda is of critical importance to all, especially for small states,
        <strong style="color:rgb(77, 145, 202)">LDC</strong>’s and
        <strong style="color:rgb(77, 145, 202)">SIDS</strong>’- members of
        <strong style="color:rgb(77, 145, 202)">FOSS</strong>. It is essential they have a strong understanding and knowledge of the tools and services that may help them to participate efficiently within the United Nations. This app ranges from basic administrative forms to the vast breadth
        of UN research tools and documentation. We hope that “How-To in the UN” will assist in building more cohesive and effective delegates today while levelling the playing field.</p>
    </div>
    <a ui-sref="home" id="help-button1" class="button button-positive  button-block">Continue</a>
  </ion-content>
</ion-view>