<ion-view title="" hide-nav-bar="true" hide-back-button="true" id="page10">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div>
      <a style="display:block;" href-inappbrowser="http://www.unitar.org/ny/">
        <img src="img/UNITAR.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <ion-list id="home-list13">
      <ion-item class="item-thumbnail-left  item-text-wrap" id="home-list-item82" ui-sref="rEFERENCEDOCUMENTS" style="line-height: 300%; border-color: #9D71AD; border-width: 3px; border-radius: 5px;">
        <img src="img/S4VS04xRfaXUYQKr4wyw_un-book-icon2.ai.png">
        <h2>Reference Documents</h2>
          <button ion-item ion-stop-event="click" id="home-button28" style="position: absolute;     top: 0px;     right: 0px; border-radius: 0px;" ng-click="helpRefDoc()" class="button button-dark button-small">?</button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="home-list14">
      <ion-item class="item-thumbnail-left  item-text-wrap" id="home-list-item83" ui-sref="cOREUNBODIES" style="line-height: 300%; border-color: #4D91CA; border-width: 3px; border-radius: 5px;">
        <img src="img/ypm2rrDRTxO67PMHzW8k_g3365.png">
        <h2>Core UN Bodies</h2>
          <button ion-item ion-stop-event="click" id="home-button29" style="position: absolute;     top: 0px;     right: 0px; border-radius: 0px;" ng-click="helpUnBodies()" class="button button-dark button-small">?</button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="home-list15">
      <ion-item class="item-thumbnail-left  item-text-wrap" id="home-list-item84" ui-sref="rESOURCEGUIDE" style="line-height: 300%; border-color: #D2AC64; border-width: 3px; border-radius: 5px;">
        <img src="img/qxgClHyHT8C49qVlctBk_g3477.png">
        <h2>Resource Guide</h2>
          <button ion-item ion-stop-event="click" id="home-button30" style="position: absolute;     top: 0px;     right: 0px; border-radius: 0px;" ng-click="helpResGuide()" class="button button-dark button-small">?</button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="home-list16">
      <ion-item class="item-thumbnail-left  item-text-wrap" id="home-list-item86" ui-sref="fORMSFORDELEGATES" style="line-height: 300%; border-color: #4D91CA; border-width: 3px; border-radius: 5px;">
        <img src="img/r8jYlVZ1TFWT5A27zQ3G_g3489.png">
        <h2>Forms for Delegates</h2>
          <button ion-item ion-stop-event="click" id="home-button31" style="position: absolute;     top: 0px;     right: 0px; border-radius: 0px;" ng-click="helpForms()" class="button button-dark button-small">?</button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="home-list17">
      <ion-item class="item-thumbnail-left  item-text-wrap" id="home-list-item87" ui-sref="sAVEDDOCS" style="line-height: 300%; border-color: #66686C; border-width: 3px; border-radius: 5px;">
        <img src="img/J8IPeroQnGFpOLQPmf3y_g3513.png">
        <h2>Saved and Frequently Accessed Documents</h2>
          <button ion-item ion-stop-event="click" id="home-button32" style="position: absolute;     top: 0px;     right: 0px; border-radius: 0px;" ng-click="helpSaved()" class="button button-dark button-small">?</button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="home-list9">
      <ion-item class="item-thumbnail-left  item-text-wrap" id="home-list-item88" ui-sref="pORTALS" style="line-height: 300%; border-color: #05955D; border-width: 3px; border-radius: 5px;">
        <img src="img/Vi1PyYdnTQC6jwVrrODQ_g3599.png">
        <h2>Portals</h2>
          <button ion-item ion-stop-event="click" id="home-button33" style="position: absolute;     top: 0px;     right: 0px; border-radius: 0px;" ng-click="helpPortals()" class="button button-dark button-small">?</button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <div style="text-align:center;">
      <a href-inappbrowser="https://twitter.com/UN?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
        <img src="img/2pd6cd4ITS6perPU0Z6y_twitter-icon-download-18.png" style="display:inline-block;width:15%;height:auto;">
      </a>
      <a href-inappbrowser="https://www.instagram.com/unitednations/">
        <img src="img/TMyFrHIvSCWRzX7PqOhr_Instagram_icon.png" style="display:inline-block;width: 15%; height: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>