<ion-view title="REFERENCE DOCUMENTS" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="rEFERENCEDOCUMENTS-list3">
      <ion-item class="item-thumbnail-left  item-text-wrap" id="rEFERENCEDOCUMENTS-list-item16" href-inappbrowser="https://cdn.rawgit.com/ICT4SD/Forum_of_Small_States/039f9e59/Files/UN%20System%20Chart.pdf">
        <img src="img/LU8oeqkDSDyiBvAufRxz_un-book-icon2.ai.png">
        <h2>United Nations System</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left  item-text-wrap" id="rEFERENCEDOCUMENTS-list-item19" href-inappbrowser="https://cdn.rawgit.com/ICT4SD/Forum_of_Small_States/039f9e59/Files/UN%20Charter.pdf">
        <img src="img/KjiBiVWdQk2FUbqMqOHH_un-book-icon2.ai.png">
        <h2>Charter of the United Nations and Statute of the International Court of Justice</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left  item-text-wrap" id="rEFERENCEDOCUMENTS-list-item20" href-inappbrowser="http://www.un.org/en/ga/about/ropga/">
        <img src="img/RWa42x27SHyJwvHDQC8l_un-book-icon2.ai.png">
        <h2>Rules of Procedure of the General Assembly</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left  item-text-wrap" id="rEFERENCEDOCUMENTS-list-item13" href-inappbrowser="https://cdn.rawgit.com/ICT4SD/Forum_of_Small_States/039f9e59/Files/Provisional%20Rules%20of%20Procedure%20Security%20Council.pdf">
        <img src="img/8Pq8LJAZQEq0Fdq58wwj_un-book-icon2.ai.png">
        <h2>Provisional Rules of Procedure of the Security Council</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left  item-text-wrap" id="rEFERENCEDOCUMENTS-list-item14" href-inappbrowser="https://cdn.rawgit.com/ICT4SD/Forum_of_Small_States/039f9e59/Files/ECOSOC%20Rules%20of%20Procedure.pdf">
        <img src="img/LH3kphO0Rk2K2fzxCJ8s_un-book-icon2.ai.png">
        <h2>Rules of Procedure of the Economic and Social Council</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left  item-text-wrap" id="rEFERENCEDOCUMENTS-list-item21" href-inappbrowser="https://sustainabledevelopment.un.org/?menu=1300">
        <img src="img/PMw4WshLQ4GLxmb3HsXp_un-book-icon2.ai.png">
        <h2>Sustainable Development Goals</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left  item-text-wrap" id="rEFERENCEDOCUMENTS-list-item18" href-inappbrowser="http://www.un.org/Docs/journal/En/lateste.pdf">
        <img src="img/hnDtR1JnTvubFQMCh97b_un-book-icon2.ai.png">
        <h2>United Nations Journal</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left  item-text-wrap" id="rEFERENCEDOCUMENTS-list-item29" href-inappbrowser="https://www.un.int/protocol/sites/www.un.int/files/Protocol%20and%20Liaison%20Service/bb305.pdf">
        <img src="img/QkSoG5SHQlyW0STlODAv_un-book-icon2.ai.png">
        <h2>Untied Nations Bluebook</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left  item-text-wrap" id="rEFERENCEDOCUMENTS-list-item28" href-inappbrowser="https://www.un.int/sites/www.un.int/files/Permanent%20Missions/delegate/71th_delegates_handbook_2016_english_interior_final_proof_web.pdf">
        <img src="img/XBY9boyHRB6JWkdHUia3_un-book-icon2.ai.png">
        <h2>Delegates Handbook PDF</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>