<ion-view title="RESOURCE GUIDE" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="rESOURCEGUIDE-form1" class="list">
            <ion-item class="item-divider" id="rESOURCEGUIDE-list-item-divider5"> Search</ion-item>
            <label class="item item-input" id="rESOURCEGUIDE-search2">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search UN.org" ng-model="search.bar" ng-change="searchDatabase()">
            </label>
            <ion-item class="item-thumbnail-left  item-text-wrap" id="rESOURCEGUIDE-list-item77" href-inappbrowser="{{result.url}}" ng-repeat="result in searchResults" cache-view="false">
                <img src="img/sIrYgYSQcKUlTGlLdezp_un-book-icon.ai.png">
                <h2>{{result.title}}</h2>
            </ion-item>
            <ion-item class="item-divider" id="rESOURCEGUIDE-list-item-divider3"> Documents</ion-item>
            <ion-item class="item-thumbnail-left  item-text-wrap" id="rESOURCEGUIDE-list-item44" href-inappbrowser="https://cdn.rawgit.com/ICT4SD/Forum_of_Small_States/039f9e59/Files/Instructions.docx">
                <img src="img/01CzZcPYTPajh0MvCV45_un-book-icon.ai.png">
                <h2>General UN Service Guidelines</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  item-text-wrap" id="rESOURCEGUIDE-list-item62" href-inappbrowser="http://www.un.org/en/sections/documents/general-assembly-resolutions/index.html">
                <img src="img/skJlzupYQSuZASI3x0Ux_un-book-icon.ai.png">
                <h2>General Assembly Resolutions</h2>
            </ion-item>
            <ion-item class="item-divider" id="rESOURCEGUIDE-list-item-divider4"> Weblinks</ion-item>
            <ion-item class="item-thumbnail-left  item-text-wrap" id="rESOURCEGUIDE-list-item25" href-inappbrowser="https://library.un.org/">
            <img src="img/lL8YtqoARqyL4ByPw71K_un-weblink-icon2.ai.png">
            <h2>Dag Hammarskjold Library </h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  item-text-wrap" id="rESOURCEGUIDE-list-item41" href-inappbrowser="http://research.un.org/en/docs">
            <img src="img/bpF8BWmjSavjCuAh74rQ_un-weblink-icon2.ai.png">
            <h2>UN Document Research Guide</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  item-text-wrap" id="rESOURCEGUIDE-list-item71" href-inappbrowser="http://www.un.org/en/member-states/index.html">
                <img src="img/3TrNENmfSymk1YIiE9UV_un-weblink-icon2.ai.png">
                <h2>Member States and Permanent Observers</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="rESOURCEGUIDE-list-item91" href-inappbrowser="https://documents.un.org/prod/ods.nsf/home.xsp">
                <img src="img/UszTYhcWQtyBHfIVFiq8_un-weblink-icon2.ai.png">
                <h2>UN ODS</h2>
            </ion-item>
        </form>
    </ion-content>
</ion-view>